    <!-- <div *ngFor="let noteList of folder.notesList">
      <div class="mb-2 d-flex justify-content-between">
        <span (click)="openNoteList(noteList)" class="text-decoration-underline" role="button">
          {{ noteList.name }}
        </span>
        <div>
          <button class="btn btn-sm btn-success me-1" (click)="addNote(noteList)">Add Note</button>
          <button class="btn btn-sm btn-primary me-1" (click)="editNoteList(noteList)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteNoteList(noteList)">Delete</button>
        </div>
      </div>

    </div> -->